@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Open Sans',sans-serif;
}

@mixin ani{
  padding: 10px 30px;
  background: #02897A;
  border-radius: 4px;
  border: transparent;
  color: white;
  transition: .4s;
}